{% extends "admin/change_list.html" %}

{% block extrahead %}
  <style>
    /* CSS for vertical and horizontal lines */
    .popular-section {
      border-right: 1px solid #ddd; /* Vertical line between sections */
      padding-right: 20px;
    }

    ul.popular-list {
      list-style: none;
      padding-left: 0;
      border-bottom: 1px solid #ddd; /* Horizontal line between items */
      margin-bottom: 20px;
    }

    .popular-list li {
      font-size: 1em;
      margin-bottom: 10px;
    }

    /* Remove margin-bottom from the last item in each section */
    .popular-section:last-child ul.popular-list {
      margin-bottom: 0;
    }

    /* Center the chart */
    .chart-container {
      display: flex;
      justify-content: left;
      align-items: center;
      flex-direction: column;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
  <div style="display: grid; width: 100%;">
    <form method="GET" action="" style="flex: 1;">
        <label for="month-select">Выберите месяц:</label>
        <select id="month-select" name="month">
          <!-- Здесь в цикле выводите опции для всех месяцев из базы данных -->
            {% for month in months %}
                <option value="{{ month.id }}" {% if month.id == selected_month %}selected{% endif %}>
                    {{ month.title }}
                </option>
            {% endfor %}
        </select>
      <button type="submit">Обновить</button>
    </form>
    <div id="content-main" style="display: flex; flex-wrap: wrap;">
      <div class="chart-container" style="flex: 1;">
        <h2 style="font-size: 1.5em;">Диаграмма популярности</h2>
        <canvas id="myChart" style="width: 100%; max-width: 700px;"></canvas>
      </div>
  
      <div style="flex: 1;">
        <h2 style="font-size: 1.5em;">Популярные категории</h2>
        <ul>
          {% for category, votes in popular_categories %}
            <li>
              {{ forloop.counter }}. {{ category }} ({{ votes }} голосов)
            </li>
          {% endfor %}
        </ul>
      </div>
  
      <div style="flex: 1;">
        <h2 style="font-size: 1.5em;">Популярные акции</h2>
        <ul>
          {% for promotion, votes in popular_promotions %}
            <li>
              {{ forloop.counter }}. {{ promotion }} ({{ votes }} голосов)
            </li>
          {% endfor %}
        </ul>
      </div>
  
      <div style="flex: 1;">
        <h2 style="font-size: 1.5em;">Популярные продукты</h2>
        <ul>
          {% for product, votes in popular_products %}
            <li>
              {{ forloop.counter }}. {{ product }} ({{ votes }} голосов)
            </li>
          {% endfor %}
        </ul>
      </div>
  
    </div>
    {% comment %} <div style="flex: 1;"> {% endcomment %}
      <h2 style="font-size: 1.5em;">Список Голосований</h2>
      {% comment %} {% block result_list %} {% endcomment %}
        {{ block.super }}
      {% comment %} {% endblock %} {% endcomment %}
    {% comment %} </div> {% endcomment %}
  </div>

  <!-- Chart.js code for your chart -->
  <script>
    var totalCategoryVotes = "{{ total_category_votes }}"
    var totalPromotionVotes = "{{ total_promotion_votes }}"
    var totalProductVotes = "{{ total_product_votes }}"

    var xValues = ["Категории", "Акции", "Продукты"];
    var yValues = [totalCategoryVotes, totalPromotionVotes, totalProductVotes];
    var barColors = ["red", "green", "blue"];
    
    console.log(totalCategoryVotes);
    console.log(totalPromotionVotes);
    console.log(totalProductVotes);
    
 
    new Chart("myChart", {
      type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues,
          label : '',
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Popularity Comparison"
        },
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              stepSize: 1,
              suggestedMin: 0,
              suggestedMax: Math.max.apply(null, yValues) + 1
            }
          }
        }
      }
    });
    
  </script>
{% endblock %}
