<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Акционное письмо</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        footer {
            margin-top: 20px;
            text-align: center;
            color: #888;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Здравствуйте, {{ user.username }}!</h1>
        <p>Вот список акций:</p>
        <ul>
            {% for promotion in promotions %}
                <li style="background-color: #ff0000; padding: 12px 24px; border-radius: 5%; border: 1px solid lawngreen; font-size: 20px;">
                    <div style="display: flex; width: 100%">
                        <p style="color: #fff ">{{ promotion.title }}: </p>
                        <p style="font-weight: bold; margin-left: auto">{{ promotion.percent }}%</p>
                    </div>
                    <hr/>
                </li>
            {% endfor %}
        </ul>
        <footer>%
            С уважением,<br>Ваш акционный сайт
        </footer>
    </div>
</body>
</html>
